# Generate spatial rate maps

In [189]:
import tools, merging
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Step 1: Get Data

### check for available datasets
returns {animal:days}

In [190]:
tools.get_data_catalogue()

{'JZ1': [1, 2]}

#### download data you want if you haven't already
`tools.download_data({animal:days})`

### specify datafilters
- In this case we want the first two days of animal *JZ1* -  spikes and position for ntrodes in MEC while the animal was on the openfield
- any column or index field in ntrodeInfo, taskInfo, or individual datatype dataframes can be used as a datafilter.   
*todo: make a notebook showing how to check for, and use, all the different filter options*

In [184]:
datafilter = {}
datafilter['animals_days'] = {'JZ1':[1,2]}
datafilter['datatypes'] = ['position', 'spikes']
datafilter['area'] = ['area == ["mec"]',]
datafilter['environment'] = ['environment == ["openfield"]', ]

In [188]:
%%time
data = tools.load_data(datafilter)

[array([ 1,  2,  3,  4,  6,  7,  8,  9, 10, 14])]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 14]
CPU times: user 14.6 s, sys: 3.72 s, total: 18.3 s
Wall time: 18.3 s

In [186]:
position = data['position']
spikes = data['spikes']

In [187]:
spikes.head()

                                                 head_direction     ...      y_position
animal day epoch ntrode cluster timedelta                           ...
JZ1    2   6     14     3       02:08:31.946766        0.369047     ...       30.014606
                                02:08:31.946766       -3.088386     ...       17.407434
                                02:08:31.946766        0.357465     ...       30.222860
                                02:08:31.946766        1.104400     ...       29.766656
                                02:08:31.946766        1.230769     ...       29.367276

[5 rows x 5 columns]

In [154]:
position.head()

                                            time  x_position    ...     head_direction     speed
animal day epoch timedelta                                      ...
JZ1    2   6     02:08:06.844266 02:08:06.844266   29.458240    ...          -1.081368  2.303935
                 02:08:06.877900 02:08:06.877900   29.660613    ...          -1.045542  2.293976
                 02:08:06.911500 02:08:06.911500   29.859370    ...          -1.006723  2.274177
                 02:08:06.945133 02:08:06.945133   30.054318    ...          -0.964502  2.244771
                 02:08:06.978766 02:08:06.978766   30.244941    ...          -0.918608  2.206101

[5 rows x 5 columns]

# Step 2: Calculate Spatial Firing

In [181]:
import spatial_rate_map as smap

In [182]:
occnorm_FR_maps = smap.calc_spatial_firing_rate_maps(spikes, position)

pos cols found in df, recalculating pos

In [183]:
occnorm_FR_maps.keys()

dict_keys([('JZ1', 2, 6, 14, 3), ('JZ1', 2, 8, 14, 3)])

In [169]:
        hv_smooth_occupancy[(animal,day,ntrode,cluster,epoch)] = hv.Image(smooth_occupancy)
        hv_smooth_spk_map[(animal,day,ntrode,cluster,epoch)] = hv.Image(smooth_spk_map)
        hv_occnorm_FR_map[(animal,day,ntrode,cluster,epoch)] = hv.Image(occnorm_FR_map)

In [ ]:
pos_ep.x_position.min()

# Step 3: Plot Results