# Generate spatial rate maps

In [7]:
import tools
%load_ext autoreload
%autoreload 2

1. specify the animals and wich days of data you want to work with

In [123]:
tools.get_data_catalogue()

{'JZ1': [1, 2]}

In [118]:
datafilter = {}
datafilter['animals_days'] = {'JZ1':[]}
datafilter['area'] = ['area == ["mec"]',]
datafilter['environment'] = ['environment == ["openfield"]', ]
datafilter['datatypes'] = ['position', 'spikes']

In [120]:
data = tools.load_data(datafilter)

In [121]:
data['position'].tail()

                                            time  x_position    ...     head_direction     speed
animal day epoch timedelta                                      ...
JZ1    2   8     03:11:49.520766 03:11:49.520766   28.605485    ...                NaN  1.363870
                 03:11:49.554366 03:11:49.554366   28.530675    ...                NaN  1.383321
                 03:11:49.588000 03:11:49.588000   28.452612    ...          -2.362472  1.398232
                 03:11:49.621633 03:11:49.621633   28.370407    ...          -2.368862  1.408329
                 03:11:49.655233 03:11:49.655233   28.272478    ...          -2.365621  1.413425

[5 rows x 5 columns]

In [122]:
data['spikes'].tail()

                                                 head_direction     ...      y_position
animal day epoch ntrode cluster timedelta                           ...
JZ1    2   8     14     3       03:11:42.917133        1.043085     ...       56.830633
                                03:11:42.917133        0.483812     ...       55.911924
                                03:11:42.917133       -0.588197     ...       54.409397
                                03:11:42.917133        2.495953     ...       14.707293
                                03:11:42.917133        0.969686     ...       56.978106

[5 rows x 5 columns]